<input type="text" [(ngModel)]="newtask.title">
<button (click)="addTask()" *ngIf="editTaskIndex===-1" [disabled]="newtask.title===''" >Add Task</button>
<button (click)="updateTask()" *ngIf="editTaskIndex!==-1">Update</button>

<ul>
  <li *ngFor="let task of tasks;let i = index">
    <b [ngClass]="task.status?'done':''">
      {{task.title}}
    </b>
    <button (click)="editTask(i)">Edit</button>
    <button (click)="doneTask(i)">{{task.status?"Undo":"Complted"}}</button>
    
    <span *ngIf="task.status===true">
      <button (click)="deleteTask(i)">Delete</button>
    </span> 
       
  </li>
</ul>